main{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}



main #herramientas button{
    width:30px;
    height:30px;
    margin:2px;
}